
<div class="row">
<div class="col-md-12">
<div class="card">
            <div class="card-header" style="background: #16a34a; color: white;">
    New City
</div>
<div class="card-body">
        <form asp-action="Create" asp-controller="city">
            <div class="row mb-24 gy-3 align-items-center">
                <label class="form-label mb-0 col-sm-4">Vendor ID:</label>
                <div class="col-sm-10">
                <input name="name" class="form-control" placeholder="e.g. Roseau"/>
                </div>
            </div>

            <input type="hidden" name="partialCheck" id="partialCheck" value="@ViewData["UID"]" />
            <input type="submit" value="Create" class="btn rounded-pill btn-success-600" />
        </form>
        </div>
    </div>
</div>
</div>


