html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.auth-qr {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.form-wizard .wizard-fieldset.show {
    display In combination with 'float' and 'position', determines the type of box or boxes that are generated for an element. Widely available across major browsers (Baseline since January 2018) Learn more Don't show : block !important;
    background: #f5f6fa !important;
    border: 1px solid grey !important;
    border-radius: 20px !important;
    padding: 10px !important;
}