@{
    ViewData["title"] = "Home";
    ViewData["subTitle"] = "Main";
}

<div class="text-center">
    <h1 class="display-4">
        Social Welfare Information Management System (SWIMS)
    </h1>
</div>
