<a asp-action="Index"><< | back</a>
@{
    ViewData["Title"] = "Complete";
}


<div class="row">
    <div class="col-md-12">
        <div id="fb-rendered-form"></div>
    </div>
    <div class="col-md-6">
        <form asp-action="Complete">
            <input type="hidden" name="formId" value="@ViewBag.id" />
            <button type="submit" class="btn btn-success">Publish</button>
        </form>
    </div>
    <div class="col-md-6">
        <a asp-action="Delete" asp-route-id="@ViewBag.id" class="btn btn-danger">Delete</a>
    </div>    
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/formbuilder/form-render.min.js"></script>
<script type="text/javascript">
    jQuery(function($) {
      var container = document.getElementById('fb-rendered-form');
      var formData = '@Html.Raw(ViewBag.frm)';

      var formRenderOpts = {
        container,
        formData,
        dataType: 'json'
      };

      $(container).formRender(formRenderOpts);
    });
</script>