@model SWIMS.Models.SW_form

@{
    ViewData["Title"] = "Form Development | NEW";
}

<hr />
<br />
<div class="row gy-4">
    <div class="col-md-8">
        <div id="fb-editor"></div>
        <button type="button" class="btn btn-warning-100 text-warning-600 radius-8 px-14 py-6 text-sm" id="sv_2FormInput" style="float: right;">
            Save
        </button>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Complete & Save</h5>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row mb-24 gy-3 align-items-center">
                            <label asp-for="name" class="form-label mb-0 col-sm-4">NAME:</label>
                            <div class="col-sm-10">
                                <input asp-for="name" class="form-control" placeholder="Enter form Name..." />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-24 gy-3 align-items-center">
                            <label asp-for="desc" class="form-label mb-0 col-sm-4">DESC:</label>
                            <div class="col-sm-10">
                                <textarea asp-for="desc" class="form-control" rows="4" cols="50" placeholder="Enter form description..."></textarea>
                                <span asp-validation-for="desc" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-24 gy-3 align-items-center">
                            <label asp-for="uuid" class="form-label mb-0 col-sm-4">UUID:</label>
                            <div class="col-sm-10">
                            <input asp-for="uuid" class="form-control" readonly placeholder="******" value="@ViewBag.UUID" />
                                <span asp-validation-for="uuid" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-24 gy-3 align-items-center">
                            <label asp-for="form" class="form-label mb-0 col-sm-4">DATA:</label>
                            <div class="col-sm-10">
                                <input asp-for="form" class="form-control" readonly placeholder="******" />
                                <span asp-validation-for="form" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-24 gy-3 align-items-center">
                            <label asp-for="SW_identityId" class="form-label mb-0 col-sm-4">LOCATION:</label>
                            <div class="col-sm-10">
                                <select asp-for="SW_identityId" class="form-control" asp-items="ViewBag.SW_identityId" readonly></select>
                            </div>                            
                        </div>

                        <div class="row mb-24 gy-3 align-items-center">
                            <label asp-for="image" class="form-label mb-0 col-sm-4">IMAGE:</label>
                            <div class="col-sm-10">
                            <input asp-for="image" type="file" class="form-control" />
                            <span asp-validation-for="image" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-24 gy-3 align-items-center">
                            <label asp-for="header" class="form-label mb-0 col-sm-4">HEADER:</label>
                            <div class="col-sm-10">
                                <textarea asp-for="header" id="tinymce"></textarea>
                                <span asp-validation-for="header" class="text-danger"></span>
                            </div>
                        </div>

@*                         <div class="row mb-24 gy-3 align-items-center">
                            <label asp-for="is_linking" class="form-label mb-0 col-sm-4">Is form Linking:</label>
                            <div class="col-sm-10">
                                <input type="checkbox" asp-for="is_linking" />
                                <span asp-validation-for="is_linking" class="text-danger"></span>
                            </div>
                        </div> *@
                    

                        <p>created:</p>
                        <input asp-for="dateModified" type="hidden" type="datetime" value="@ViewBag.datetime" />
                        <span asp-validation-for="dateModified" class="text-danger"></span>
                        <input type="submit" value="Submit" id="saveData" class="btn btn-primary" width="100" />
                </form>
            </div>
        </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/formbuilder/form-builder.min.js"></script>
<script src="https://cdn.tiny.cloud/1/invalid-origin/tinymce/8.0.2-45/tinymce.min.js"></script>
<script type="text/javascript"> 
// --------------------------------------- Form Builder - Global Variables
var fbEditor = document.getElementById("fb-editor");
var frm = document.getElementById("form");

jQuery(function ($) {
    // --------------------------------------- Form Builder - options
    var options = {
            disabledActionButtons: ['data', 'save'],
            typeUserAttrs: {
              text: {
                readonly: {
                  type: "checkbox",
                  label: "readonly",
                  value: false
                }
              }
            }
    };
    var formBuilder = $(fbEditor).formBuilder(options);

        document.getElementById('sv_2FormInput').addEventListener('click', function() {
            frm.value = formBuilder.formData;
    });
});

    // ------------------------------------------- TINYMCE - WYSWYGET EDITOR
    tinymce.init({
        selector: '#tinymce',
        height: 300,
        plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
            'media', 'table', 'emoticons', 'help'
        ],
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons | help'
        });
</script>