@model SWIMS.Models.SW_form

@{
    ViewData["Title"] = "Form Development | Upload";
}

<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">New Program image:</h5>
            </div>
            <div class="card-body">

        <form asp-action="EditUpload" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="name" />
                    <input type="hidden" asp-for="desc" />
                    <input type="hidden" asp-for="uuid" />
                    <input type="hidden" asp-for="form" />
                    <input type="hidden" asp-for="SW_identityId" />
                    <input type="hidden" asp-for="header" />
                    <input type="hidden" asp-for="approvalAmt" />
                    <input type="hidden" asp-for="is_linking" />
                    <input type="hidden" asp-for="dateModified" value="@System.DateTime.Now" />

                    <div class="upload-image-wrapper d-flex align-items-center gap-3">
                        <div class="uploaded-img d-none position-relative h-120-px w-120-px border input-form-light radius-8 overflow-hidden border-dashed bg-neutral-50">
                            <button type="button" class="uploaded-img__remove position-absolute top-0 end-0 z-1 text-2xxl line-height-1 me-8 mt-8 d-flex">
                                <iconify-icon icon="radix-icons:cross-2" class="text-xl text-danger-600"></iconify-icon>
                            </button>
                            <img id="uploaded-img__preview" class="w-100 h-100 object-fit-cover" src="" alt="image">
                        </div>

                        <label class="image h-120-px w-120-px border input-form-light radius-8 overflow-hidden border-dashed bg-neutral-50 bg-hover-neutral-200 d-flex align-items-center flex-column justify-content-center gap-1" for="image">
                            <iconify-icon icon="solar:camera-outline" class="text-xl text-secondary-light"></iconify-icon>
                            <span class="fw-semibold text-secondary-light">Upload</span>
                            <input id="image" name="image" type="file" hidden>
                        </label>
                    </div>
                    <br />
                    <input type="submit" value="Submit" id="saveData" class="btn btn-primary" width="100" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // =============================== Upload Single Image js start here ================================================
    const fileInput = document.getElementById("image");
    const imagePreview = document.getElementById("uploaded-img__preview");
    const uploadedImgContainer = document.querySelector(".uploaded-img");
    const removeButton = document.querySelector(".uploaded-img__remove");

    fileInput.addEventListener("change", (e) => {
        console.log("Yes...")
        if (e.target.files.length) {
            const src = URL.createObjectURL(e.target.files[0]);
            imagePreview.src = src;
            uploadedImgContainer.classList.remove("d-none");
        }
    });
    removeButton.addEventListener("click", () => {
        imagePreview.src = "";
        uploadedImgContainer.classList.add("d-none");
        fileInput.value = "";
    });
    // =============================== Upload Single Image js End here ================================================
</script>