@*
    WowDash - ASP.Net Core 8 & Bootstrap Admin Dashboard Multipurpose Template design by Parv Infotech
*@


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="~/manifest.webmanifest">
    <meta name="theme-color" content="#0d6efd">

    <title>@ViewData["title"] | SWIMS - GOCD</title>
    <link rel="icon" type="image/png" href="~/WowDash/images/favicon.png" sizes="16x16">
    <!-- remix icon font css  -->
    <link rel="stylesheet" href="~/WowDash/css/remixicon.css">
    <!-- BootStrap css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/bootstrap.min.css">
    <!-- Apex Chart css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/apexcharts.css">
    <!-- Data Table css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/dataTables.min.css">
    <!-- Text Editor css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/editor-katex.min.css">
    <link rel="stylesheet" href="~/WowDash/css/lib/editor.atom-one-dark.min.css">
    <link rel="stylesheet" href="~/WowDash/css/lib/editor.quill.snow.css">
    <!-- Date picker css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/flatpickr.min.css">
    <!-- Calendar css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/full-calendar.css">
    <!-- Vector Map css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/jquery-jvectormap-2.0.5.css">
    <!-- Popup css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/magnific-popup.css">
    <!-- Slick Slider css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/slick.css">
    <!-- prism css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/prism.css">
    <!-- file upload css -->
    <link rel="stylesheet" href="~/WowDash/css/lib/file-upload.css">

    <link rel="stylesheet" href="~/WowDash/css/lib/audioplayer.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/WowDash/css/style.css">

    <!-- custom css -->
    <link rel="stylesheet" href="~/WowDash/css/custom.css">
</head>