@* Global toast stack (top-right, below navbar) *@
<div id="swims-toast-stack"
     class="toast-container position-fixed end-0 p-24"
     style="z-index: 2000; top: var(--swims-toast-top, 88px); max-width: 420px;">
</div>
