@model SWIMS.Models.SW_formProcess

@{
    ViewData["Title"] = "SW_formProcess | EDIT";
}
<hr />
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header">
<a asp-action="Index" class="btn btn-info">Home</a>
</div>
<div class="card-body" style="overflow-y:scroll; max-height: 250px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row mb-24 gy-3 align-items-center">
                <label asp-for="url"  class="form-label mb-0 col-sm-4"></label>
                <div class="col-sm-10">
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger"></span>
                </div>
            </div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label">Label</label>
                        <input asp-for="name" class="form-control" id="ProcessName" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>

            <div class="row mb-24 gy-3 align-items-center">
                <label asp-for="SW_formsId"  class="form-label mb-0 col-sm-4"></label>
                <div class="col-sm-10">
                <input asp-for="SW_formsId" class="form-control" />
                <span asp-validation-for="SW_formsId" class="text-danger"></span>
                </div>
            </div>
                <input type="submit" value="Save" class="btn btn-primary" />
        </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
