@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download personal data";
    ViewData["title"] = "Download personal data";
    ViewData["subTitle"] = "Data export";
    ViewData["description"] = "Export a copy of all personal data held on your SWIMS account.";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
