@model PublicEndpointEditViewModel

@{
    ViewData["title"] = "Create Public Endpoint";
    ViewData["subTitle"] = "Create Public Endpoint";
    ViewData["description"] = "Create a new public endpoint configuration.";

    // Parent crumb → main index page
    ViewData["BreadcrumbParentText"] = "Public Endpoints";
    ViewData["BreadcrumbParentArea"] = "Admin";
    ViewData["BreadcrumbParentController"] = "PublicEndpoints";
    ViewData["BreadcrumbParentAction"] = "Index";

    // Current page crumb
    ViewData["BreadcrumbCurrentArea"] = "Admin";
    ViewData["BreadcrumbCurrentController"] = "PublicEndpoints";
    ViewData["BreadcrumbCurrentAction"] = "Create";
}


<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_MatchTypeFields.cshtml", Model)

    <div class="mt-3">
        <button class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
