@model PublicEndpointEditViewModel

@{
    ViewData["title"] = "Edit Public Endpoint";
    ViewData["subTitle"] = "Edit Public Endpoint";
    ViewData["description"] = "Edit public endpoint configuration.";

    // Parent crumb → main index page
    ViewData["BreadcrumbParentTitle"] = "Public Endpoints";
    ViewData["BreadcrumbParentArea"] = "Admin";
    ViewData["BreadcrumbParentController"] = "PublicEndpoints";
    ViewData["BreadcrumbParentAction"] = "Index";

    // Current page crumb
    ViewData["BreadcrumbCurrentArea"] = "Admin";
    ViewData["BreadcrumbCurrentController"] = "PublicEndpoints";
    ViewData["BreadcrumbCurrentAction"] = "Edit";
}


<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("../Shared/_MatchTypeFields", Model)
    <button class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
