@model SWIMS.Models.SW_formTableData_Type

@{
    ViewData["Title"] = "SW_formTableData_Type | EDIT";
}
<hr />
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header">
<a asp-action="Index" class="btn btn-info">Home</a>
</div>
<div class="card-body" style="overflow-y:scroll; max-height: 250px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row mb-24 gy-3 align-items-center">
                <label asp-for="type"  class="form-label mb-0 col-sm-4"></label>
                <div class="col-sm-10">
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-24 gy-3 align-items-center">
                <label asp-for="field"  class="form-label mb-0 col-sm-4"></label>
                <div class="col-sm-10">
                <input asp-for="field" class="form-control" />
                <span asp-validation-for="field" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-24 gy-3 align-items-center">
                <label asp-for="SW_formsId"  class="form-label mb-0 col-sm-4"></label>
                <div class="col-sm-10">
                <select asp-for="SW_formsId" class="form-control" asp-items="ViewBag.SW_formsId"></select>
                <span asp-validation-for="SW_formsId" class="text-danger"></span>
                </div>
            </div>
                <input type="submit" value="Save" class="btn btn-primary" />
        </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
