@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    ViewData["title"] = "Confirm email";
    ViewData["subTitle"] = "Email verification";
    ViewData["description"] = "Your email address has been confirmed. You can now sign in to your account.";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
